<div>
    </div id="app">
        <div id="wrapper2">
            <div id="player">{{card.player}}</div>
            <div id="cardImage"><img src={{card.card.image}} alt="Card Name"></div>
            <div id="drink">
                <div>{{card.card.drink}}</div>
            </div>
            <div id="do">
                <div>{{card.card.do}}</div>
            </div>
            <a id="next" href='/card/{{card.playerId}}'>Next Player</a>
        </div>
    </div> 
</div>